# Django settings
DEBUG=True
SECRET_KEY=your_secret_key
ALLOWED_HOSTS=your_domain.com,localhost

# Database settings
POSTGRES_DB=office_bot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5432

# discord settings
CHECKIN_CHANNEL=zapier
CHECKOUT_CHANNEL=zapier
DISCORD_TOKEN=<TOKEN>
GUILD_ID=<GULID>
LEAVE_CHANNEL_ID=leave_channel_id
ADMIN_CHANNEL_ID=your_admin_channel_id
DISCORD_WEBHOOK_URL=discord_webhook_url