<!-- <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Filter
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'Status_filter' 'Approved'%}">Approved</a></li>
      <li><a class="dropdown-item" href="{% url 'Status_filter' 'Rejected'%}">Rejected</a></li>
      <li><a class="dropdown-item" href="{% url 'Status_filter' 'Requested'%}">Requested</a></li>
    </ul>
  </div> -->




  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'leave'%}">RippleBytes</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter by</a>
                <ul class="dropdown-menu tex">
                    <li><a class="dropdown-item" href="{% url 'Status_filter' 'Approved'%}">Approved</a></li>
                    <li><a class="dropdown-item" href="{% url 'Status_filter' 'Rejected'%}">Rejected</a></li>
                    <li><a class="dropdown-item" href="{% url 'Status_filter' 'Requested'%}">Requested</a></li>
                    <li><a class="dropdown-item" href="{% url 'leave'%}">#</a></li>
                </ul>
            </li>
    
      </div>
    </div>
  </nav>