<!-- <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Filter
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'Status_filter' 'Approved'%}">Approved</a></li>
      <li><a class="dropdown-item" href="{% url 'Status_filter' 'Rejected'%}">Rejected</a></li>
      <li><a class="dropdown-item" href="{% url 'Status_filter' 'Requested'%}">Requested</a></li>
    </ul>
  </div> -->




  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home'%}">RippleBytes</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {%if user.is_authenticated and user.is_superuser%}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter by</a>
                <ul class="dropdown-menu tex">
                    <li><a class="dropdown-item" href="{% url 'Status_filter' 'Approved'%}">Approved</a></li>
                    <li><a class="dropdown-item" href="{% url 'Status_filter' 'Rejected'%}">Rejected</a></li>
                    <li><a class="dropdown-item" href="{% url 'Status_filter' 'Requested'%}">Requested</a></li>
                    <li><a class="dropdown-item" href="{% url 'home'%}">#</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="{% url 'logout'%}" class="nav-link">Logout</a></li>
          {%elif user.is_authenticated and not user.is_superuser%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My profile</a>
            <ul class="dropdown-menu tex">
                <li><a class="dropdown-item" href="{% url 'employee_record' user.id%}">Profile</a></li>        
                <li><a class="dropdown-item nav-link" href="{% url 'logout'%}">Logout</a></li>
            </ul>
        </li>
            
          {% else%}
            <li class="nav-item"><a href="{% url 'home'%}" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="{% url 'register_admin'%}" class="nav-link">Register</a></li>
          {%endif%}
    
      </div>
    </div>
  </nav>