{% extends 'private_content.html'%}

{%block private_content%}
<div class="container">
  <table class="table table-bordered table">
            <thead class="table table-dark">
              <tr>
                <th>User ID</th>
                <th>Discord ID</th>
                <th>Post</th>
                <th>Contact Number</th>
                <th>Gender</th>
                <th>Date of birth</th>
                <th>Citizenship Number</th>
                <th>Bank Details</th>

              </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{% url 'user_record' data.user%}" class="link-dark text-decoration-underline">{{data.user}}</a></td>
                    <td>{{data.discord_user_id}}</td>
                    <td>{{data.job_title}}</td>
                    <td>{{data.phone_number}}</td>
                    <td>{{data.gender}}</td>
                    <td>{{data.date_of_birth}} AD</td>
                    <td>{{data.employee_citizenship_number}}</td>
                    <td><a href="{% url 'bank_detail' data.user%}" class="link-dark text-decoration-underline">Bank details</a></td>

                </tr>
            </tbody>
  </table>
</div>
        


{%endblock%}