{% extends 'master.html'%}

{% block content%}

{%if user.is_authenticated%}
    <h1>hello</h1>
{%else%}
<div class="container">
    <br>
    
        <div class="col-md-6 offset-md-4">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <form method="post" action="{% url 'register_admin'%}" enctype="multipart/form-data">
                        {% csrf_token%}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-primary col-md-3 offset-md-4">Submit</button>
                    
                    </form>


                </div>
        </div>
    </div>

    
    <br>

</div>


{%endif%}


{%endblock%}