{% extends 'private_content.html'%}

{%block private_content%}
    <div class="container">

    
    
    {% if json_data and task_data %}
        <h1>Leaves requested till date</h1>
        <table class="table table-bordered table" >
            <thead class="table table-dark">
            
              <tr>
                <th>Leave id</th>
                <th>Username</th>
                <th>Leave start</th>
                <th>Leave end</th>
                <th>Leave type</th>
                <th>Status</th>
                <th>Reason</th>
              </tr>
            </thead>
            <tbody>
                {% for leave in json_data%}
                <tr>
                    <td>{{leave.id}}</td>
                    <td>{{leave.username}}</td>
                    <td>{{leave.start_date}}</td>
                    <td>{{leave.end_date}}</td>
                    <td>{{leave.leave_type}}</td>
                    <td>{{leave.status}}</td>
                    <td>{{leave.reason}}</td>
                </tr>
                
            </tbody>
    {%endfor%}
          </table>

          <h1>Your Task Record</h1>
          <table class="table table-bordered table" >
            <thead class="table table-dark">
            
              <tr>
                <th>Task id</th>
                <th>Task</th>
                <th>Status</th>
              
              </tr>
            </thead>
            <tbody>
                {% for task in task_data%}
                <tr>
                    <td>{{task.id}}</td>
                    <td>{{task.task}}</td>
                    {%if task.completed%}
                        <td>Completed</td>
                    {%else%}
                        <td>Not Completed</td>
                    {%endif%}
                </tr>
                {%endfor%}
            </tbody>
        
        </table>
    {%elif task_data and not json_data%}
            <h1>Your task record</h1>
            <table class="table table-bordered table" style="width: 50rem;">
              <thead class="table table-dark">
              
                <tr>
                  <th>Task id</th>
                  <th>Task</th>
                  <th>Status</th>
                
                </tr>
              </thead>
              <tbody>
                  {% for task in task_data%}
                  <tr>
                      <td>{{task.id}}</td>
                      <td>{{task.task}}</td>
                      {%if task.completed%}
                          <td>Completed</td>
                      {%else%}
                          <td>Not Completed</td>
                      {%endif%}
                  </tr>
                  
              </tbody>
          {%endfor%}
          </table>
  {%else%}
      <h1>Welcome to RippleBytes </h1>
      <h2>No leave or task record</h2>
      <p> Please checkin through discord!!</p>
            
  {%endif%}
      
</div>
{%endblock%}