{%extends 'private_content.html'%}

{%block private_content%}
<div class="container">
    <h1>
        Leave record 
    </h1>
    <ul >
       
        <li class="nav-item dropdown" style="list-style-type: none;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Filter by</a>
            
            <ul class="dropdown-menu tex">
                <li><a class="dropdown-item" href="{% url 'status_filter' 'Approved'%}">Approved</a></li>
                <li><a class="dropdown-item" href="{% url 'status_filter' 'Rejected'%}">Rejected</a></li>
                <li><a class="dropdown-item" href="{% url 'status_filter' 'Requested'%}">Requested</a></li>
                <li><a class="dropdown-item" href="{% url 'admin_home'%}">#</a></li>
            </ul>
        </li>
    </ul>
    <table class="table table-bordered table">
        <thead class="table table-dark">
          <tr>
            <th>Leave id</th>
            <th>User id</th>
            <th>Username</th>
            <th>Leave start</th>
            <th>Leave end</th>
            <th>Leave type</th>
            <th>Status</th>
            <th>Reason</th>
          </tr>
        </thead>
        <tbody>
        {%if Leavedata%}
        {% for personal_leave in Leavedata%}
        <tr>
              <td><a href='{% url "personal_leave" personal_leave.id%}' class="link-dark text-decoration-underline">{{personal_leave.id}}</a></td>
              <td>{{personal_leave.user}}</td>
              <td>{{personal_leave.username}}</td>
              <td>{{personal_leave.start_date}}</td>
              <td>{{personal_leave.end_date}}</td>
              <td>{{personal_leave.leave_type}}</td>
              {%if personal_leave.status == 'Approved'%}
              <td class="text-success">{{personal_leave.status}}</td>
              {%elif personal_leave.status == 'Rejected'%}
              <td class="text-danger">{{personal_leave.status}}</td>
              {%else%}
              <td class="text-primary">{{personal_leave.status}}</td>
              {%endif%}
              <td>{{personal_leave.reason}}</td>
            </a>
            {% endfor%}
          </tr>
          {%else%}
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
          {%endif%}
        
        </tbody>
      </table>
</div>

{%endblock%}